@using SSM.Models;
<style>
    @@font-face {
        font-family: 'Roboto-Light';
        src: url("../../fonts/Roboto-Light.ttf") format('truetype');
    }

    @@font-face {
        font-family: 'Roboto-Black';
        src: url("../../fonts/Roboto-Black.ttf") format('truetype');
    }
</style>
<script src="//code.jquery.com/jquery-1.12.3.js"> </script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#myData").DataTable();
    });
    function editpage(id) {
        window.location = "/Product/Detail?id="+id;
    };
</script>
<h1> <font style="font-family:Roboto-Light"> Product List</font> </h1>
<div>
    <table id="myData" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>
                    SKU
                </th>
                <th>
                    ICON
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Detail
                </th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["productList"] != null)
            {
                foreach (softwareProduct sp in (List<softwareProduct>)ViewData["productList"])
                {
                    <tr>
                        <td align="center" style="height:100px">
                            @sp.SKU
                        </td>
                        <td align="center">
                            <img src="@sp.icon" />
                        </td>
                        <td align="center">
                            @sp.name
                        </td>
                        <td align="center">
                            @sp.unitPrice
                        </td>
                        <td>
                            <button onclick="editpage(@sp.id)">Detail</button>
                            <button onclick="editpage(@sp.id)">Edit</button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myNewProductModal">+New Product</button>
</div>
<div class="modal fade" id="myNewProductModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='id_email'>SKU</label>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <div class='col-md-11'>
                                    <input class='form-control' id='nSKU' type='text'>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='id_email'> Name</label>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <div class='col-md-11'>
                                    <input class='form-control' id='nName' type='text'>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Company Name</label>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <div class='col-md-11'>
                                    <input class='form-control' id='id_email' type='text'>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>Full Description</label>
                        <div class='col-md-6'>
                            <textarea class='form-control' id='id_comments' placeholder='Additional comments' rows='3'></textarea>
                        </div>
                    </div>


                    <div class='form-group'>
                        <div class='col-md-offset-4 col-md-3'>
                            <button class='btn-lg btn-primary' type='submit'>Create product</button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>