@using SSM.Models;


<script>
    $(document).ready(function () {
        $("#dealtable").DataTable();
    })
</script>
<div class="page-title">
    <div class="title_left">
        <h3>Requests <small> Listing</small></h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>New request</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Un-asigned customer request</p>
                <!-- start project list -->
                <table id="dealtable" class="table table-striped projects">
                    <thead>
                        <tr>

                            <th style="width: 20%">Customer Name</th>
                            <th>Created Date</th>
                            <th>Product</th>
                            <th>Note</th>
                            <th>Status</th>
                            <th>Assigned To</th>
                            <th style="width: 20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Customer_Request request in (List<Customer_Request>)ViewData["NewRequest"])
                        {
                            <tr>

                                <td>
                                    <a>@request.contact.FirstName @request.contact.LastName</a>
                                    <br />
                                    <small>@request.contact.Street</small>
                                </td>
                                <td>@(((DateTime)request.CreatedDate).ToShortDateString())</td>
                                <td>@request.productMarketPlan.softwareProduct.name</td>
                                <td>@request.contact.Comment</td>
                                <td>
                                    @if (request.DealID == null)
                                    {
                                        <button type="button" class="btn btn-warning btn-xs">Waiting to be asigned</button>
                                    }
                                    else if (request.Deal.Deal_SaleRep_Respon.Count() == 0)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs">Waiting  to be re-asigned</button>
                                    }
                                </td>
                                @if (request.DealID != null)
                                {
                                    <td>
                                        @request.Deal.Deal_SaleRep_Respon.LastOrDefault().AspNetUser.SaleRepProfiles.First().FullName
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Re-Assign </a>

                                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                }
                                else
                                {

                                    <td>
                                       Not Assigned
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Assign </a>

                                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                }

                            </tr>
                        }


                    </tbody>
                </table>
                <!-- end project list -->
            </div>
        </div>
    </div>

</div>

