@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OD customer portal </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/fonts/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/icheck/flat/green.css" rel="stylesheet" />
</head>
<style>
   
</style>
<body class="nav-md" style="padding:0;padding-left:0;padding-right:0;">
    <div class="container body" style="margin:0;width:100%;padding:0;padding-left:0;padding-right:0;max-width:2500px;width:100%">
        <div class="main_container" style="margin:0;width:100%;height:100%; padding:0;padding-left:0;padding-right:0;">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>FPT portal</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                        
                            <img id="avatar" src="~/Content/images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span id="welcomeName">Welcome</span>

                        </div>
                    </div>
                    <!-- /menu prile quick info -->
                    <br />
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <br />
                            <br />
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/Home"><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li>
                                    <a  href="/Ticket" ><i class="fa fa-edit"></i> Helpdesk</span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Your license </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i>Payment</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" onclick="logoff()" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                        <script>
                            function logoff() {
                                $("#logoutform").submit();
                            }
                        </script>
                        <form id="logoutform" style="display:none" action="/Account/LogOff" method="post">
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                      
                            <li role="presentation" class="dropdown">

                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
          
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" style="height:100%" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
