@using SSM.Models;

<link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />
<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Content/icheck/flat/green.css" rel="stylesheet" />
<style>
    body {
    background-color:#F7F7F7;
    }
</style>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>

<script>
    $(document).ready(function () {
        $("#dealtable").DataTable({
            "order": [[4, "desc"]]
        });
    })
</script>
    <div class="page-title">
        <div class="title_left">
            <h1 style="font-size:30px">Deals <small> Listing</small></h1>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
 
                <div class="x_content">
                    <p>List of deals under your responsible</p>
                    <!-- start project list -->
                    <table id="dealtable" class="table table-striped projects">
                        <thead>
                            <tr>
                     
                                <th style="width: 20%">Deal name</th>
                                <th>Created</th>
                                <th>Deal Progress</th>
                                <th>Status</th>
                                <th style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                  
                            @foreach (Deal deal in (List<Deal>)ViewData["ActiveDeal"])
                            {
                                <tr>
                              
                                    <td>
                                        <a>@deal.Name</a>
                                        <br />
                                        <small>@deal.contact.FirstName @deal.contact.MiddleName @deal.contact.LastName </small>
                                    </td>
                                    <td>@deal.StartDate.ToShortDateString()</td>
                                    <td class="project_progress">
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@(deal.Stage * 100 / (deal.softwareProduct.PrePurchase_FollowUp_Plan.Where(u => u.isOperation).First().Plan_Step.ToList().Count()))" style="width: @(deal.Stage * 100 / (deal.softwareProduct.PrePurchase_FollowUp_Plan.Where(u => u.isOperation).First().Plan_Step.ToList().Count()))%;"></div>
                                        </div>
                                      
                                        <small>@(deal.Stage * 100 / (deal.softwareProduct.PrePurchase_FollowUp_Plan.Where(u => u.isOperation).First().Plan_Step.ToList().Count()))% Complete</small>
                                    </td>
                                    <td>
                                        @if (deal.Status == 5)
                                        {
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        }
                                        else if (deal.Status == 4)
                                        {
                                            <button type="button" class="btn btn-danger btn-xs">Lost</button>
                                        }
                                        else if (deal.Status == 1)
                                        {
                                            <button type="button" class="btn btn-primary btn-xs">Active</button>
                                        }

                                        else if (deal.Status == 3)
                                        {
                                            <button type="button" class="btn btn-primary btn-xs">Waiting Order</button>
                                        }
                                        else if (deal.Status == 2)
                                        {
                                            <button type="button" class="btn btn-warning btn-xs">On Hold</button>
                                        }
                                    </td>
                                    <td>
                                        <a href="/Deal/Detail?id=@deal.id" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
    
                                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            }
                            
               
                        </tbody>
                    </table>
                    <!-- end project list -->
                </div>
            </div>
        </div>
    </div>


